<div class="container" style="margin-top: 10px;">
  <div class="jumbotron">
    <h1>Bem-Vindo, {{sessionService.getCurrentResponseLogin().getUser_display_name()}}</h1>
    <p>
      Deseja fazer um novo post?
      <button type="button" class="btn btn-primary" (click)="openModal(template)">Novo Post</button>
    </p>
  </div>
</div>

<app-blog></app-blog>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="enviar($event)" ngNativeValidate>
      <div class="form-group">
        <label for="titlePost">Title Post</label>
        <input type="text" class="form-control" id="titlePost" placeholder="Lorem Ipsum" [ngModel]="newPost?.getTitle()"
          name="titlePost" (ngModelChange)="newPost?.setTitle($event)">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Content Post</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [ngModel]="newPost?.getContent()"
          name="contentPost" (ngModelChange)="newPost?.setContent($event)"></textarea>
      </div>
      <div class="form-group">
        <label for="statusPost">Status Post</label>
        <select [ngModel]="newPost?.getStatus()" name="statusPost" (ngModelChange)="newPost?.setStatus($event)" class="custom-select">
          <option *ngFor="let s of listaStatus" [value]="s.value">
            {{s.name}}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Criar Post</button>
    </form>
  </div>
</ng-template>